@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-titillium-web: var(--font-titillium-web);
  --color-primary: #fd854b;
}

@utility shadow-primary {
  box-shadow: 12px 7px 16px 3px rgba(253, 133, 75, 0.56);
  -webkit-box-shadow: 12px 7px 16px 3px rgba(253, 133, 75, 0.56);
  -moz-box-shadow: 12px 7px 16px 3px rgba(253, 133, 75, 0.56);
}

body {
  font-family: var(--font-inter);
  @apply max-w-10/12 mx-auto bg-zinc-100;
}

.nav {
  animation: nav-shadow 0.3s forwards;
  animation-range: 0 300px;
  animation-timeline: scroll();
}

@keyframes nav-shadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}
